* {
  margin: 0;
  padding: 0;
  color: rgb(205, 216, 227);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  min-height: 100vh;
  background-image: linear-gradient(
    to right bottom,
    #011332,
    #150b24,
    #170518,
    #11020b,
    #000000
  );
}
a {
  text-decoration: none;
}
button {
  color: black;
}

body::-webkit-scrollbar {
  width: 12px; /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: orange; /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: blue; /* color of the scroll thumb */
  border-radius: 20px; /* roundness of the scroll thumb */
  border: 3px solid orange; /* creates padding around scroll thumb */
}
body {
  scrollbar-width: thin; /* "auto" or "thin" */
  scrollbar-color: grey black; /* scroll thumb and track */
}
input, textarea{color: black;}
.tweetFrame {
  background-color: aquamarine;
  width: 40vw;
  margin: 1rem auto;
  padding: 1rem;
}
.contentTweet {
  margin: 0.5rem 0;
  padding: 0.5rem;
  border-radius: 10px;
  background-color: antiquewhite;
}
.authorTweet {
  border: 1px red solid;
  display: flex;
  justify-content: end;
}
.formulaire {
  width: 30vw;
  margin: 2vh auto 5vh;
  padding: 15px;
  box-sizing: border-box;
  box-shadow: 10px 10px 15px black, inset 3px 3px 5px rgb(125, 122, 122);
  border-radius: 15px;
}
  .formulaire label{
    margin: 0 auto;
  }
  .formulaire input, .formulaire textarea{
    color: #20081e;
    background-color: aliceblue;
    border-radius: 5px;
  }
  .formulaire input:focus, .formulaire textarea:focus{
    border: solid 3px rgb(89, 112, 210);
  }
.prochain {
  background-color: burlywood;
}
.centrons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.sendNewTweet{
  border: 1px white solid;
  padding: 0.5rem 0.6rem;
  border-radius: 10px;
  cursor: pointer;
  display: inline-block;
}

/******************** Encadré Bonjour & Connexion/Deconnexion Page d'Accueil *****/
.SayHelloCoDecoLink {
  border-radius: 10px;
  /*border: red solid 2px;*/
  padding: 2rem 1.5rem;
  width: 15vw;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  }
.withFrame{
  width: 15vw;  box-shadow: 20px 0px 25px black, inset 4px 4px 10px rgb(125, 122, 122);
}
.SayHelloCoDecoLink *{  
  margin: 0.5rem 0;
  padding-bottom: 0.3rem;
  border-width: 10px;
  border-bottom: 1px solid transparent;
  border-image: linear-gradient(to right, #20081e,rgb(205, 216, 227)) 1;
}
.SayHelloCoDecoLink *:hover{
  border-image: linear-gradient(to right, transparent, transparent) 1;
}
.buttonsAnim {
  position: relative; /* add this */
}
.buttonsAnim::before {
  content: "";
  display: block;
  position: absolute; /* au lieu de relative */
  top: 0;
  left: 0%;
  width: 200%;
  height: 120%;
  transform: translateX(-25%) translateY(-10%);
  transition: background-color 0.3s; /* add this */
  z-index: -1;
}
.buttonsAnim:hover::before{
  background: rgb(32,8,30);
  background: linear-gradient(90deg, rgba(32,8,30,0.29) 0%, rgba(0,0,0,1) 35%, rgba(0,0,0,1) 50%, rgba(32,8,30,0.2889356426164216) 100%);
}
/*************************** ShowListTweet ****************************************/
.affichageListeTweet {
  width: 30vw;
  margin: 0 auto;
}
.lightShadow {
  animation: lightShadow 10s forwards;
}
@keyframes lightShadow {
  from {
    box-shadow: 00px 0px 10px blue, -00px 0px 10px blue;
  }
  50% {
    box-shadow: 20px 0px 25px skyblue, -20px 0px 10px skyblue;
  }
  to {
    box-shadow: 20px 0px 25px black, -5px 0px 10px rgb(125, 122, 122);
  }
}
.cadreTweet {
  min-height: 100px;
  background-color: 11020b; /*<--------------------------------*/
  border-radius: 10px;
  box-shadow: 10px 10px 15px black, inset 3px 3px 5px rgb(125, 122, 122);
  box-sizing: border-box;
  margin: 20px 0;
  padding: 15px;
  list-style-type: none; /* Pour enlever les gros ronds noirs */
}
.cadreTweetContent {
  padding: 10px;
}

.invalid-input {
  border: 1px solid red;
}

.frameAuthorTweet {
  background-color: beige;
  margin: 1rem;
  padding: 0.5rem;
  width: 40vw;
}
/**************************** cadreInscription *******************************************/

.cadreInscription{  
  width: 20vw;
  margin: 30vh auto;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px black, inset 0px 0px 0px rgb(125, 122, 122);
  animation: abracadabraFrame 1s forwards 2.7s;
  position: relative;
  text-align: center;
}
.cadreInscription input,  .cadreInscription div{
  margin: 10px auto;
  padding: 5px;
  width: 76%;
  box-sizing: border-box;
  /*animation: abracadabra 1s forwards 1.75s;*/
}

.cadreInscription button{
  margin: 10px auto;
  padding: 4px;
  width: 55%;
  font-size: 18px;
  box-sizing: border-box;
  animation: abracadabra 1s forwards;
  opacity: 0;
}

.partOfcadreInscription{
  opacity: 0;
  animation: opacity 0.4s forwards;
}
.partOfcadreInscription:nth-of-type(1){  animation-delay: 1.5s;}
.partOfcadreInscription:nth-of-type(2){  animation-delay: 1.7s;}
.partOfcadreInscription:nth-of-type(3){  animation-delay: 1.9s;}
.partOfcadreInscription:nth-of-type(4){  animation-delay: 2.1s;}
.partOfcadreInscription:nth-of-type(5){  animation-delay: 2.3s;}
.partOfcadreInscription:nth-of-type(6){  animation-delay: 2.4s;}
.partOfcadreInscription:nth-of-type(7){  animation-delay: 2.6s;}
.partOfcadreInscription:nth-of-type(8){  animation-delay: 2.8s;}

@keyframes opacity {
  from{opacity: 0;}
  to{opacity: 1;}
}
.lastPartOfcadreInscription{
  opacity: 0;
  animation: opacity 0.4s forwards 3s;
}
/********************** frameConnection ********************************************/

.frameConnection::before{
  position: absolute;
  content: "";
  background-color: aliceblue;
  width: 10px; height: 37vh;
  left: 50%;
  top: -37vh;
  transform: translateX(-50%) scaleY(0);
  animation: whiteSquare 1.5s forwards;
  transform-origin: 0% 0%;
}
@keyframes whiteSquare {
  from {transform: scaleY(0);  transform-origin: 0%   0%; }
  50%  {transform: scaleY(1);  transform-origin: 0%  00%; }
  51%  {transform: scaleY(1);  transform-origin: 0% 100%; }
  to   {transform: scaleY(0);  transform-origin: 0% 100%; }
}

.frameConnection {
  width: 15vw;
  margin: 36vh auto;
  padding: 20px 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 0px black, inset 0px 0px 0px rgb(125, 122, 122);
  animation: abracadabraFrame 1s forwards 1s;
  position: relative;
}
@keyframes abracadabraFrame {
  to{box-shadow: 20px 0px 25px black, inset 4px 4px 10px rgb(125, 122, 122); }
}
.insideFrameConnection{
  display: flex; flex-direction: column; align-items: center;
}
.insideFrameConnection input, .insideFrameConnection button, .insideFrameConnection div{
  margin: 10px 0px;
  padding: 5px;
  width: 75%;
  box-sizing: border-box;
  animation: abracadabra 1s forwards;
  opacity: 0;
}
@keyframes abracadabra{
  from {opacity: 0;}
  to   {opacity: 1;}
}

.loggIn{
  font-size: 1rem;
}
.createAccount{
  text-align: center;
}
.insideFrameConnection input:nth-of-type(1){animation-delay: 2.0s;}
.insideFrameConnection input:nth-of-type(2){animation-delay: 2.3s;}
.insideFrameConnection button{animation-delay: 2.8s;}
.insideFrameConnection div{animation-delay: 3.1s;}

/************************************************************************************************************/
.lineOfComponents {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
  margin: 10px 0;
  padding: 5px;
  border: 1px solid transparent; /* add a transparent border */
  border-image:linear-gradient(90deg, rgba(2,0,36,0) 0%, rgba(205,255,227,0.8) 3%, rgba(205,255,227,0.3) 48%, rgba(205,255,227,0.8) 97%, rgba(0,212,255,0) 100%);
  border-image-slice: 1;
}

.likeComments {
  width: 40%;
  display: flex;
  justify-content: space-between;
}

.like {
  display: inline-flex;
  align-items: center;
  padding: 5px;
}
/**************************************************************/
.red_like {
  display: inline-block;
  position: relative;
  height: 22px;
  width: 22px;
  background-image: url("../icone/full_red.png");
  background-size: 100%;
  margin-right: 0.5rem;
  cursor: pointer;
}
.red_like:hover {
  background-image: url("../icone/broken_red.png");
  margin-right: 0.5rem;
}

.empty_like {
  height: 22px;
  width: 22px;
  margin-right: 0.5rem;
  cursor: pointer;
}
/*********************************************************************/

.commentaryIconCounter {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 5px;
}

.commentaire {
  filter: drop-shadow(0px 0px 15px rgba(251, 249, 249, 1));
  width: 22px;
  position: relative;
  top: 2px;
  transition: 0.2s;
}
.commentaire:hover {
  scale: 1.4;
}
.numberCommentaries {
  display: flex;
  align-items: center;
  justify-content: start;
  margin-left: 10px;
}

/*********************************************************************/

.FollowThisUser {
  width: 30%;
  display: flex;
  justify-content: center;
  align-items: center;
}

/************************************************************************************************************/

.followButon {
  cursor: pointer;
  height: 28px;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
.addFollow {
  background-color: black;
  color: white;
  width: 94px;
}
.followed {
  background-color: rgb(138, 218, 145);
  border: 1px solid black;
  width: 108px;
  position: relative;
  transition: 0.2s;
  color: black;
}
.followed:hover {
  width: 124px; /* Augmenter la largeur de l'élément .followed */
  height: 28px; /* Augmenter la hauteur de l'élément .followed  */
  background-color: rgb(199, 52, 52);
  transform-origin: center center; /* Centrer le point d'origine des transformations CSS */
  color: transparent;
}
.followed:hover::before {
  background-color: rgb(199, 52, 52);
  border-radius: 8px;
  color: white;
  content: "Se désabonner";
  position: absolute;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transform-origin: center center; /* Centrer le point d'origine des transformations CSS */
}
/*************************** Encadré central DIALOGUE Milieu *********************************************************************/

.WriteOneMessage {
  position: relative; top: 20px;
  width: 30vw; height: 890px;
  margin: 0 auto;
  border-radius: 10px;
  box-shadow: 10px 10px 15px black, inset 3px 5px 8px rgb(125, 122, 122);

}
    .twoNames{
        display:flex;
        justify-content: space-between;
        padding: 1rem 0rem;
        font-size: 1.5rem;
        text-transform: capitalize;
        width: 30vw;
        box-sizing: content-box;
    }
    /******************/

    .conversationContainer {
        width: 100%; height: 72%;
        flex-grow: 1;
        overflow-y: auto; /* Ajouter une barre de défilement verticale */
    }
        .lineForAdresse {
            display: flex;
            justify-content: end;
            margin-right: 1rem;
        }
            .message {
                position: relative;
                box-sizing: border-box;
                display: inline-block;
                padding: 0.5rem;
                margin: 0.5rem;
                border-radius: 7px;
                max-width: 70%;
            }
            .messageFromAuthor {
                background-color: #3c1939;
                padding-right: 2rem;
                margin-left: 1rem;
            }
            .messageFromOther {
                background-color: #1c2932;
            }
        .textareawriteTheMessage {
          background-color: #11020b;
          border: 1px solid transparent;
          color: aliceblue;
          box-shadow:  4px 4px 5px #3c1939,  -4px -4px 5px #3c1939, inset 4px 4px 5px #473545, inset -4px -4px 5px #473545;;
        }
        .textareawriteTheMessage:focus{
          outline: none ;
        }
/************* Bouton Envoyer le message ***********/
    .writeTheMessage { /* Textarea + Bouton envoi */
      width: 95%;
      margin: 0 auto;
    }
        .sendMessageButton {
          text-align: center;
          cursor: pointer;
          padding: 0.5rem;
          border: #3c1939 double 3px;
          border-radius: 5px;
          background-color: #20081e;
        }
/*********** Encadré Droite dialogue*********************/
.frameRightDialogue {
  position: fixed;
  right: 5vw; top: 2vh;
  border: 1px solid sienna;
  width: 25vw; height: 96vh;
  }

/************** Nouveaux messages de : **************************************************************/
.conversationAlert {
  width: 15vw;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  background-color: #011332;
  box-shadow: 20px 10px 25px black, inset -3px -3px 5px black, inset 3px 3px 5px rgb(125, 122, 122);
  position: relative;
  margin-top: 1rem;
}
.mailRed {
  position: absolute;
  right: 50px;
  top: 29px;
  transform: rotate(25deg);
}


/************* Bouton DELETE **********************************************************************/
.buttonDeleteMessage {
  position: absolute;
  cursor: pointer;
  right: 10px;
  top: 0;
}

/*********************************************************************************************/

.framelistDialogue {
  position: fixed;
  top: 5vh;
  left: 11vw;
}

.pasNouveauxMessages {
  font-size: 0.8rem;
  border: dashed 1px;
  padding: 7px;
  border-radius: 5px;
}

/************** Rectangle avec liste de noms Conversations ****************************/
.conversationWith {
  margin-top: 1rem;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  background-color: #011332;
  box-shadow: 20px 10px 25px black, inset -3px -3px 5px black,
    inset 3px 3px 5px rgb(125, 122, 122);
  font-size: 0.9rem;
  color: orange;
}

.nameInterlocutor {
  display: block;
  padding: 0.5rem 1rem;
  margin: 0.5rem 0;
  transition: 0.2s;
  border-radius: 5px;
  font-size: 1.1rem;
}
.GetAuthorTweet {
  text-transform: uppercase;
}
/******************** Rectangle avec liste des membres suivis **********************************************/
.divAuthorFollowed {
  margin: 1rem 0;
  padding: 0.5rem;
  list-style-type: none;
  width: 200px;
}

.LinkListFollowed {
  text-transform: uppercase;
  font-size: 1.1rem;
  color: cadetblue;
}

/******************************* Mon PROFIL ************************************************/
.MyProfile {
  width: 20vw; height: 70vh;
  margin: 0 auto ;
}
.ChangePseudo{
  display: flex; flex-direction: column; align-items:  center;
  box-shadow: 20px 10px 25px black, inset -3px -3px 5px black, inset 3px 3px 5px rgb(125, 122, 122);
  border-radius: 10px;
}
.ChangePseudo:nth-of-type(1){margin-top: 5rem;}
.ChangePseudo:nth-of-type(2){margin-top: 2rem;}

.ChangePseudo div   {margin: 5px; padding: 8px;}
.ChangePseudo input {margin: 5px; padding: 8px;}

.avatar {
  width: 40px;
  height: 40px;
  margin-right: 10px;
}
.largeAvatar {
  width: 90px;
  height: 90px;
  margin-top: 10px;
}
.buttonsAvatar{display: flex;}
.buttonsAvatar button{margin: 10px; padding: 7px 6px;}

/****************************************************************************************/

.dateOfTweet {
  text-align: right;
  font-size: 0.8rem;
}

.enveloppe {
  width: 25px;
  box-shadow: 0px 0px 15px rgb(205, 216, 227);
  transition: 0.2s;
}
.enveloppe:hover {
  scale: 1.4;
}

.scroll-to-top img{
  width: 50px; height: 50px;
  border-radius: 50%;
}
a.scroll-to-top {
  position: fixed;
  bottom: 20px;
  right: 20px;
  color: #fff;
  text-decoration: none;
  padding: 3px;
  border-radius: 10%;
  transition: 0.3s;
}

a.scroll-to-top:hover {
  background-color: #444;
}
.descriptiontOfTheConnectedUser{
  display: flex;
  width: 28vw;
  margin: 1rem auto;
  padding: 2rem 1.5rem;
  border-radius: 8px;
  background-color: #011332;
  box-shadow: 20px 10px 25px black, inset -3px -3px 5px black, inset 3px 3px 5px rgb(125, 122, 122);
  position: relative;
  margin-top: 1rem;
}