*{
    margin: 0;
    padding: 0;
}
.codeco{
    border: 1px red solid;
    display: flex;
    justify-content: space-between;
    margin: 0 2rem;
}
.tweetFrame{
    background-color: aquamarine;
    width: 40vw;
    margin: 1rem auto;
    padding: 1rem;
}
.contentTweet{
    margin: 0.5rem 0;
    padding: 0.5rem;
    border-radius: 10px;
    background-color: antiquewhite;
}
.authorTweet{
    border: 1px red solid;
    display: flex;
    justify-content: end;
}
.formulaire{
    width: 30vw;
    background-color: antiquewhite;
    margin: 0 auto;
}
.prochain{
    background-color: burlywood;
}
.centrons{
    display: flex;
    justify-content: center;
    align-items: center;
}
/*************************** ShowListTweet ****************************************/
.affichageListeTweet{
    width: 552px;
    margin: 0 auto;
    border: 1px red solid;
}
.cadreTweet{
    min-height: 100px;
    background-color: bisque;
    box-sizing: border-box;
    margin: 15px 0;
    padding: 10px;
}
.cadreTweetContent{
    border: grey 1px dashed;
    margin: 12px 0;
}

.invalid-input {
    border: 1px solid red;  
  }

.frameAuthorTweet{
    background-color: beige;
    margin: 1rem;
    padding: 0.5rem;
    width: 40vw;
}

.divAuthorFollowed{
    border: 1px brown solid;
    margin: 1rem;
    padding: 0.5rem;
    list-style-type: none;
    width: 200px;
}

.divTweetFollowed{
    border: 1px red dashed;
    margin: 1rem;
    padding: 0.5rem;
    list-style-type: none; /* Pour enlever les gros ronds noirs */
    width: 552px;
}
/************************************************************************************/
.followButon{
    cursor: pointer;
    height: 28px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}
.addFollow{
    background-color: black;
    color: white;
    width: 94px;
}
.followed{
    background-color: rgb(138, 218, 145);
    border: 1px solid black;
    width: 94px;
    position: relative;
    transition: 0.2s;
}
.followed:hover{ 
    width: 110px; /* Augmenter la largeur de l'élément .followed */ 
    height: 28px; /* Augmenter la hauteur de l'élément .followed  */
    background-color: rgb(199, 52, 52);
    transform: translateX(-8px);
    color: transparent;
}
.followed:hover::before{
    background-color: rgb(199, 52, 52);
    border-radius: 8px;
    color: white;
    content: "Se désabonner";
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
/************************************************************************************************************/
.red_like{
    display: inline-block;
    position: relative;
    height: 22px;
    width: 22px;
    background-image: url("../public/icone/full_red.png");
    background-size: 100%;
    margin-right: 0.5rem;
    cursor: pointer;
}
.red_like:hover{
    background-image: url("../public/icone/empty_black.png");
    margin-right: 0.5rem;
}

.empty_like{
    height: 22px;
    width: 22px;
    margin-right: 0.5rem;
    cursor: pointer;
}
/************************************************************************************************************/
.like{
    display: inline-flex;
    align-items: center;
    padding: 5px;
}
/************************************************************************************************************/
.lineOfComponents{
    display: flex;
    border: 1px black solid;
    justify-content: space-between;
}